<%= link_to "Home", root_path %>
<%= link_to "Continue to view others List", listings_path %>

<h1>Its Confim!! Thanks you and visits our site again!</h1>

<p>Your Booking number is (<%= @reservation.id %>)</p>