<h1>PairBnB</h1>

	<%if !current_user.nil? %>
		<%= link_to "Profile", user_path(current_user.id) %>
	<%else%>
		<%= link_to "Sign Up", sign_up_path %>
	<%end%>

<%= link_to "View All of our List", listings_path %>
